/* Submit TPnD Request Section */
.submit-tpnd {
    padding: 40px 20px;
    background: linear-gradient(135deg, #330052, #540080);
    color: #ffffff;
}

.submit-tpnd ol {
    margin: 20px 0;
}

.submit-tpnd ol li {
    margin-bottom: 10px;
}
